.title{
    font-size: 2.2rem;
    margin: 10px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.033rem;
    color: #3a3a3a;
}
.productName{
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    font-stretch: normal;
    color: #3a3a3a;
}
.seller{
    color: #646464;
    font-size: 0.9rem;
}
.brandName{
    color:#d1623d; 
    font-weight: 600;
    cursor: pointer;
}
.cargo{
    font-size: 0.9rem;
    color: #646464;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.trash{
    cursor: pointer;
    display: none;
    height: 0px;
    font-size: 2.0rem;
    color: #d1623d;
    margin-top: 0!important;
    margin-right: 20px;
}
img{
    cursor: pointer;
}
.removeText{
    font-size: 0.9rem;
    color: black;
    
    margin-left: 563px;
    text-align: end;
}

.basket:hover .trash{
    display: block;
    
}
.basketPrice{
    color: rgb(72, 72, 72);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.36px;
    line-height: 20px;
}
.complete{
    position: absolute;
    right: 0;
    min-height: 12rem;
    top: 6rem;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    margin-left: 5rem;
}
.totalPrice{
    font-weight: 600;
    font-size: 1.5rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.033rem;
    color: var(--black);
    margin-top: 2rem;
    margin-left: 3.5rem;
}

.paymentBtn{
    background-color: #d1623d;
    color:#fff;
    margin: 10px 42px;
    border-radius: 18px;
}
.payPrice{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 3rem;
    top: 0.3rem;
}
.ab{
    position: absolute;
    top: 26px;
    left: 20px;
}
