#select{
    width: 135px;
    /* margin-right: 500px; */
    border-radius: 1px;
    border-color: #193959;
    border-style: solid;
    margin-left: 120px;
}
#form-control {
    display: block;
    width: 280px;
    margin-left: 5px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #193959;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#navbar-item{
    color:#193959;
}
#navbar-item-cart{
    color:#193959;
}
a{
    color:#193959;
}