<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
            <img  routerLink="" src="https://cdn.discordapp.com/attachments/826140103675740200/840291593482797066/logo.jpg" class="btn ms-3"width="250px" height="65px" alt="">
          <div class="align-content">
          <select  id="select"class="form-select" placeholder="Hepsi" >
            <option selected>Hepsi</option>
            <option  *ngFor="let category of categories">{{category.name}}</option>
          </select>
        </div>
          <div class="input-group ">
            <input type="text" id="form-control" placeholder="Urun adiyla veya urun koduyla ara" >
            <button class="btn " style="background-color: #193959; color: white;" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>

        <span  id="navbar-item" class="btn" routerLink="/favorite" > <i class="fas fa-heart"></i>Favoriler</span>
        <span  id="navbar-item" *ngIf="checkToLogin()==false" class="btn" routerLink="/login"><i class="fas fa-user"></i>Giris</span>

        <span  id="navbar-item-cart" routerLink="/cart" class="btn"><i class="fas fa-shopping-cart"></i>Sepetim</span>
        <div class="dropdown text-end" *ngIf="checkToEmail()==true">
          <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true"  type="button">  {{this.user.firstName}} {{this.user.lastName}}  </a>

          <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a routerLink="/profil/edit" class="dropdown-item">Profil düzenle</a></li>
            <li><a routerLink="/orders" class="dropdown-item">Siparişlerim</a></li>
            <li><hr class="dropdown-divider" /></li>
            <a (click)="logOut()" class="dropdown-item">Çıkış yap</a>
          </div>
        </div>

    </div>
  </nav>
