<div class="container">
  <div class="row">
    <div class="col-md">
      <app-navbar></app-navbar>

    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <app-category></app-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 crsl">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">

            <div *ngFor="let product of Images ; index as i; first as firstImage " [ngClass]="{ active: firstImage }"
                 class="carousel-item " data-bs-interval="10000">
              <img [src]="productDto.images.length !== 0 ? imageBasePath+ product: imageBasePath + defaultImg"
                   width="90" height="325" class="d-block w-100">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    <div class="col-md-6" id="detail">
      <header class="title-wrapper">
        <h1 itemprop="name" class="product-name best-price-trick" id="product-name">
          {{productDto?.productName}}
        </h1>
      </header>
      <span class="brand-name">
        <p routerLink="/products/brand/{{productDto?.brandId}}" id="brand">{{productDto?.brandName}}</p>
      </span>
      <a id="first-campaign-ribbon"
         data-bind="visible: firstCampaign().length > 0 &amp;&amp; showCampaignsTab(), click: showAllCampaigns">
        <span class=" hbus 1347fc4f-5de5-45e7-93fc-c09a8f27bf74">Ininal ile 200 TL ve üzeri elektronik hariç
          alışverişlerde 25 TL indirim</span>
      </a>
      <div class="row">
        <div class="col-md-4">
          <div itemprop="offers" class="product-price price-container big">
            <span class="badge highlight active" id="product-discount-rate">
              <span class="discount-amount">%<span>{{productDto?.discountRate}}</span></span>indirim</span>
            <span class="discountPrice">{{productDto?.price}} TL</span>
            <span class="price">{{productDto?.price | discount:productDto?.discountRate}} TL</span>
          </div>
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <a (click)="addToCart(productDto)" class="btn cartBtn"><i class="fas fa-cart-plus"></i> Sepete ekle</a>

            </div>
            <div class="col-md-6">
              <div class="input-group">
                <button class="button effective icon icon-minus" (click)="decreaseQuantity()">
                  <span>-</span>
                </button>
                <input id="quantity" class="input short" type="text" value="{{quantity}}" maxlength="2">
                <button class="button effective icon icon-plus" (click)="increaseQuantity()">
                  <span>+</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <ul class="shipment-list-container">
        <li>
          <b class="hour">13 saat </b>
          <b class="minute">57 </b>
          <span><b>dakika</b> içinde sipariş verirseniz <b>yarın</b> kargoda</span>
        </li>
        <li style="display: none;">
          <span><b>dakika</b> içinde sipariş verirseniz <b>yarın</b> kargoda</span>
        </li>
        <li id="locationBaseDeliveryWithTimer" style="display: none;">
          <span id="tooltipContainerWithTimer" class="text">
            <b d></b>
            iline bugün teslimat seçeneği
            <span class="tooltip-info-icon"></span>
          </span>
        </li>
        <li style="display: none">(Kargo Bedava)</li>
      </ul>

      <section>
      </section>

      <div class="row">
        <div class=" col-md-4">
          <span class="addedFavorite" (click)="favoriteOperations()">
            <i class="far fa-heart"></i> {{favoriteText}}
          </span>
        </div>
        <div class=" col-md-5">
          <span (click)="openComment()" class="addedFavorite"><i class="far fa-comments"></i> Değerlendir</span>

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5 p-3 description">
        <h2 class="sameSeller">Açıklama</h2>
        <p>{{productDto?.description}}</p>
      </div>
    </div>
    <div *ngFor="let comment of productComment" class="row">
      <div class="userr">

        <img style="width: 53px;height: 58px;border-radius: 2rem;"
             [src]="comment.imagePath.length !==0 ? imageBasePath + comment.imagePath : imageBasePath  + defaultImg"
             alt="{{comment.id}}" width="15px" height="15px">
      </div>
      <div class="col-md-9 mt-5 p-2">
        <p class="userName">{{comment.userFullName}}</p>
        <div class="p-4 comment">
          <span>{{comment.comment}}</span>

          <span class="removeComment" (click)="deleteComment(comment)"
                *ngIf="comment.userId === this.authService.getCurrentUserId()">
            <i class="fas fa-times"></i>
          </span>
          <span class="editComment">
            <span *ngIf="comment.userId === this.authService.getCurrentUserId()" (click)="setUpdatedComment(comment)"
                  data-bs-target="#exampleModal" data-bs-toggle="modal">
              <i class="fas fa-pen"></i>
            </span>
          </span>
        </div>
        <div class="commentImage" *ngFor="let image of comment.commentImagePath">
          <div></div>
          <img class="commentImg" [src]="imageBasePath + image.imagePath"
               alt="{{comment.id}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
        <h2 class="sameSeller ">Aynı satıcıdan</h2>
        <p-carousel [value]="products" [autoplayInterval]="3000" [numVisible]="4" [numScroll]="1">
          <ng-template let-product pTemplate="item">
            <app-product-card [products]="product"></app-product-card>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <app-comment-update [commentForUpdate]="setUpdateComment"></app-comment-update>
