<div class="container">
  <div class="row">
    <app-navbar></app-navbar>
    <div class="col-md-3">
      <app-profil-list></app-profil-list>
    </div>
    <div class="col-md-9 mt-4">
      <div class="title">
        <h4>Şifre Değişikliği</h4>
      </div>
      <form [formGroup]="userUpdateForm" class="margin">
          <div class="col-md-6 offset-1">
            <label for="email" class="col-sm-5 col-form-label">Mevcut şifreniz</label>
            <input type="password" formControlName="oldPassword" [ngModel]="oldPassword" class="form-control" />
        
        </div>
        <div class="col-md-6 offset-1">
          <label for="firstName" class="col-sm- col-form-label">Yeni şifreniz</label>
          <input type="password" formControlName="newPassword" [ngModel]="newPassword" class="form-control" />

        </div>
        <div class="col-md-6 offset-1">
          <label for="firstName" class="col-sm- col-form-label">Yeni şifre tekrarınız</label>
          <input type="password" formControlName="newPasswordVerify" [ngModel]="newPasswordVerify" class="form-control" />
        </div>
      </form>
      <button class="btnSave" (click)="editPassword()">Kaydet</button>
    </div>
  </div>
</div>