p  {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -.28px;
    font-size: 16px;
    color: #d1623d;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.32px;
    cursor: pointer;
}
#resetPasswordP{
    display: flex;
    align-items: center;
    height: 40px;
    text-align: left;
    margin-top: 12px;
}
.passwordText {
    display: block;
    margin: 4px 0 32px;
    line-height: 1.43;
    letter-spacing: -.15px;
    color: #646464;
}
input{
  border: 1px solid #d1623d;
}
input:focus{
  border: 1px solid #d1623d;
  box-shadow: 0 0 10px #d1623d;
}
  .btnSave {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    padding: 8px;
    position: relative;
    text-decoration: none;
    background-color: #d1623d;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 40px;
    min-width: 100px;
    font-family: inherit;
    font-size: 100%;
    margin-left: 15.4em;
    width: 13em;
    border-radius: 8px;
    margin-top: 14px;
    line-height: 1.15;
  }

.title{
  margin-left: 15.8em;
  font-family: revert;
}
.margin{
  margin-left: 7em;
}