<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="margin-left: 163px;">Yorum düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color:black">
                <div class="card-body">
                    <div class="card-body">
                        <form [formGroup]="productCommentForm">
                            <div class="mb-3">
                                <label for="comment">Yorum</label>
                                <div class="form-group">
                                    <input type="text" id="comment" formControlName="comment" class="form-control" placeholder="Yorum" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="btn buy commentBtn" (click)="commentUpdate()">Güncelle</button>
            </div>
        </div>
    </div>
</div>
