<div class="container">
  <div class="row">

    <app-category></app-category>
  </div>


  <div class=" offset-md-2 mt-4">
    <span>Sana özel deneyimler sunmamız için <span style="font-weight: bold; color: #022548;">Giriş yap</span>.Henüz
      muşteri değil misin? <span style="font-weight: bold; color: #022548;">Üye ol</span></span>
  </div>
  <div class="row">
    <div class="col-md-6 mt-5" style="width: 500px;height: 273px; background-color: #d1623d;margin-left: 27px;">
      <p style="     font-weight: 600;
        color: #ffffff;
        font-size: 22px;
        margin-left: 31px;
        margin-top: 67px;">Buyuk markalar.En iyi rakamlar</p>
        <p style="     
        color: #ffffff;
        margin-left: 31px;
        margin-top: 20px;
        font-size: 14px;">100.000'in uzerinde urun,buyuk markalar da dahil!</p>
        <a style="background-color: #fff;color: #06284a;font-weight: bold;border-radius: 7px;
        margin-top: 15px;
        margin-left: 32px;
        padding: 10px;
    " class="btn">Alisverise basla ></a>
    </div>
    <div class="col-md-6 mt-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://www.bdc.ca/globalassets/digizuite/27101-articles_price_your_product_fb_1200x630_an.png" alt="First slide">
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only"></span>
        </a>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="productAddedToCart"class="alert alert-primary" role="alert">
   Urun sepete eklendi
  </div>
  <div *ngFor="let product of products" class="card" style="width: 18rem;">
      <div class="card-body" >
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary" (click)="addToCart(product)">Sepete Ekle</a>
      </div>
    </div> -->
</div>