<div class="container">
    <div class="row">
        <app-navbar></app-navbar>
        <app-category></app-category>
        <div class="col-md-4">

        </div>
        <div class="col-md-8  mt-4">
        <div class="card">
          <div class="ai">
            <h5 class="title">Adres Bilgileri</h5><br>
          </div>
          <div class="savedAddress" *ngFor="let address of addresses">
            <p class="addressAbbreviation">{{address.addressAbbreviation}}</p>
            <p  (click)="setSelectedAddress(address)" data-bs-target="#exampleModal" data-bs-toggle="modal">Düzenle</p>
          </div>
          <div class="card-body">
            <form [formGroup]="addressForm">
              <div class="mb-3">
                <label for="cityId">Şehir seç</label>
                <div class="col-sm-12">
                  <select class="form-control" formControlName="cityId">
                    <option value="" disabled selected hidden>Şehir seç</option>
                    <option *ngFor="let city of cities" placeholder="cityId" [ngValue]="city.id">{{city.name}}
                    </option>
                  </select>
                </div>
              </div>
             
              <div class="mb-3">
                <label for="address">Adres</label>
                <div class="form-group">
                  <input type="text" id="address" formControlName="addressDetail" class="form-control"
                    placeholder="Adres" />
                </div>
              </div>

              <div class="mb-3">
                <label for="addressAbbreviation">Adres kısayolu</label>
                <div class="form-group">
                  <input type="text" id="addressAbbreviation" formControlName="addressAbbreviation" class="form-control"
                    placeholder="Adres kısayolu" />
                </div>
              </div>
              
  
              <div class="mb-3">
                <label for="postalCode">Posta Kodu</label>
  
                <div class="form-group">
                  <input type="text" id="postalCode" formControlName="postalCode" class="form-control"
                    placeholder="Posta Kodu" />
                </div>
                
              </div>
  
            </form>
          </div>
          <div class="">
            <button  class="btn buy" (click)="add()" >Ekle</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <app-address-update [addressForUpdate]="selectedAddress"></app-address-update>
