<div class="container">
    <div class="row">
        <app-navbar></app-navbar>
        <app-category></app-category>
        <div class="col-md-3 list">
          <div class="list-group">
            <a  routerLink="/profil" [class]="getProfilEditClass()" aria-current="true"><i class="fas fa-user-edit"></i>  Profil bilgileri </a>
            <a routerLink="/address"  [class]="getCurrentCategoryClass()" ><i class="fas fa-map-marker-alt"></i>  Adres bilgileri</a>
          </div>
        </div>
        <div  class="col-md-9   mt-4">
          <div  class="ai">
            <h5 class="savedAddressTitle">Kayıtlı adresler</h5>
            
          </div>
            <div class="address">
              <div  class="savedAddress mt-2" *ngFor="let address of addresses">
                <p class="addressAbbreviation">{{address.addressAbbreviation}}</p>
                <div (click)="delete(address)" class=" trash" >
                  <i  class="fas fa-trash"></i>
              </div>
                <p id="addressUpdate" (click)="setSelectedAddress(address)" data-bs-target="#exampleModal" data-bs-toggle="modal">Düzenle</p>
              </div>

            </div>
        <div class="card">
          <div class="ai">
            <h5 class="title">Yeni adres ekle</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="addressForm">
              <div class="mb-3">
                <label class="label" for="cityId">Şehir seç</label>
                <div class="col-sm-12">
                  <select class="form-control" formControlName="cityId">
                    <option value="" disabled selected hidden>Şehir seç</option>
                    <option *ngFor="let city of cities" placeholder="cityId" [ngValue]="city.id">{{city.name}}
                    </option>
                  </select>
                </div>
              </div>
             
              <div class="mb-3">
                <label  class="label" for="address">Adres</label>
                <div class="form-group">
                  <input type="text" id="address" formControlName="addressDetail" class="form-control"
                    placeholder="Adres detayı" />
                </div>
              </div>

              <div class="mb-3">
                <label  class="label" for="addressAbbreviation">Adres kısayolu</label>
                <div class="form-group">
                  <input type="text" id="addressAbbreviation" formControlName="addressAbbreviation" class="form-control"
                    placeholder="örn=Ev adresim,İş adresim" />
                </div>
              </div>
              
  
              
            </form>
          </div>
          <div class="">
            <button  class="btn buy" (click)="add()" >Ekle</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <app-address-update [addressForUpdate]="selectedAddress"></app-address-update>
