.savedAddressTitle{
    margin-left: 3.4rem;
    
}

.title{
    margin-left: 55px;
    
}
.card{
    border: 0!important;
}
.ai{
    font-size: 22px;
    margin-top: 10px;
    line-height: 30px;
    color:#484848;
    font-family: -apple-system,SFProText,Helvetica Neue,sans-serif;
    font-weight: 600;
    text-align: center;
    margin-right: 80px;
}
.buy{
    width: 264px;
    margin-bottom: 15px;
    margin-left: 9.8rem;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    outline: none;
    padding: 8px;
    position: relative;
    left: 7rem;
    text-decoration: none;
    background-color: #d1623d;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 47px;
    min-width: 184px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}
.ui-dropdown    {
    background-color:black;
  }
select:invalid { color: #6c757d; }
.addressAbbreviation{
    padding: 0;
    position: absolute;
    top: 10px;
    color: #484848;
    line-height: 1.2;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 0px 18px;

}
.savedAddress{
    border: 1px solid #ced4da;
    position: relative;
    width: 48.7rem!important;
    margin-left: 17px!important;
}
#addressUpdate{
    margin-top: 10px;
    text-align: end;
    margin-right: 15px;
    font-weight: bold; 
    color: #ed4634;
    cursor: pointer;
}

.form-control {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #d1623d;
      border-radius: 8px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.32px;
      line-height: 1.5;
      outline: 0px;
      width: 100%;
      padding: 14px 56px 14px 14px;
      margin-bottom: 25px;
  }
  .label{
    line-height: 30px;
    color:#484848;
    font-weight: 500;
    font-family: -apple-system,SFProText,Helvetica Neue,sans-serif;
    text-align: center;
    margin-right: 80px;
  }
  .trash{
    cursor: pointer;
    height: 0px;
    font-size: 1.1rem;
    color: #d1623d;
    margin-top: 0!important;
    margin-right: 20px;
    position: relative;
    left: 42rem;
    top: 9px;
    display: none;
}

.address:hover .trash{
    display: block;
    
}
