<span class="btn" routerLink="/products" style=" margin-top:5px;float: left; font-weight: bold; color: #13263a;">Tumu</span>

<div *ngFor="let category of categories" style="margin-top:5px; margin-left: 15px;">
<span class="btn font-weight-bold" style="float: left; font-weight: bold; color: #13263a;"routerLink="/products/category/{{ category.categoryId }}">{{category.name}}</span>
</div>
<span class="btn" style="margin-left: 30px;float: left; font-weight: bold; color: #ed4634;"><i id="fireIcon"class="fas fa-fire"></i>Firsatlar</span>
