
    <div class="list-group list">
      <a  routerLink="/profil" [class]="getProfilEditClass()" aria-current="true"><i class="fas fa-user-edit"></i>  Profil bilgileri </a>
      <a routerLink="/profil/changepassword"  [class]="getProfilEditClass()" ><i class="fas fa-lock"></i>   Şifre değişikliği</a>
      <a routerLink="/address"  [class]="getProfilEditClass()" ><i class="fas fa-map-marker-alt"></i>  Adres bilgileri</a>
      <a routerLink="/creditcard"  [class]="getProfilEditClass()" ><i class="fas fa-credit-card"></i>  Kredi kart bilgilerim</a>
      <a routerLink="/orders"  [class]="getProfilEditClass()" ><i class="fas fa-shopping-basket"></i>  Siparişlerim</a>
    </div>