.input {
    border: 1px solid #d1623d;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
