.input {
    border: 1px solid #d1623d;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}
.add{
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  outline: none;
  padding: 8px;
  position: relative;
  text-decoration: none;
  background-color: #d1623d;
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 56px;
  min-width: 184px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin-left: 12rem;
  width: 50%;
}
.boxBorder{
    border: 1px solid #d1623d;
    border-radius: 9px;
    height: 29rem;
    margin-top: 12px;
}
.title{
  margin: 8px;
  text-align: center;
  font-family: -webkit-pictograph;
}
.aricle,li{
  font-family: revert;
}