
.buy {
  width: 264px;
  margin-bottom: 15px;
  margin-left: 9.8rem;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  outline: none;
  padding: 8px;
  position: relative;
  left: 2rem;
  text-decoration: none;
  background-color: #d1623d;
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 47px;
  min-width: 184px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
.creditCardForm {
  width: 28rem;
  margin-left: 6rem;
}
.form-control {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #d1623d;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.32px;
  line-height: 1.5;
  outline: 0px;
  width: 100%;
  padding: 11px 56px 12px 14px;
  margin-bottom: 15 px;
}
.title {
  color: #484848;
  margin-left: 20.7rem;
}

