.orders{
    height: 7.8rem;
    margin-top: 4.1rem;
    border-radius: 12px;
}
.details{
    width: 50rem;
}
.myOrders{
    margin: 0;
    text-align: center;
    font-size: 32px;
    position: absolute;
    margin-left: 0rem;
    /* margin-bottom: 15px; */
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.033rem;
    color: rgb(72, 72, 72);
}
.productName{
    font-weight: 700;
    color: #4B4A4A;
    margin-top: 2rem;
    margin-bottom: -1rem;
    cursor: pointer;
}
.productName:hover{
    color: #d1623d;
}
.salePrice{
    color: #439e4a;
    font-weight: 700;
    font-size: 17px;

}
.orderDetailWay{
    background: #338f3a;
    width: 6.9rem;
    border: #338f3a;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    margin-top: 3rem;
}
.orderDetailReady{
    background: #fd700e;
    width: 6.7rem;
    border: #fd700e;
    border-radius: 16px;
    color: #FFF;
    text-align: center;
    margin-top: 3rem;
}
.countText{
    color: #646464;
    font-size: 0.9rem;
}
.count{
    font-weight: bold;
    color: #433f3f;
}