<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <img src="https://cdn.discordapp.com/attachments/826140103675740200/840291593482797066/logo.jpg"
      class="btn ms-3" width="100px" height="65px" alt="">
      <div style="text-align: start;">

      </div>
    <div class="dropdown text-end">
      <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
        aria-expanded="true" type="button">Yönetim işlemleri</a>
      <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <li><a routerLink="/admin/products" class="dropdown-item">Ürünler</a></li>
        <li><a routerLink="/product/add" class="dropdown-item">Ürün ekle</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <a (click)="logOut()" class="dropdown-item">Çıkış yap</a>
      </div>
    </div>
  </div>
</nav>