<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
    <div class="col-md-12 category">
      <app-category></app-category>
    </div>
    <div class="row">
      <div class="col-md-3 mt-3">
        <app-brand></app-brand>
      </div>
      <div class="col-md-9 ap border">
        <div class="row">
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsDesc()">
                En Çok Satanlar
            </div>
          </div>
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsEvaluation()">
                Değerlendirme Sayısı
            </div>
          </div>
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsAsc()">
                Artan Fiyat
            </div>
          </div>
          <div class="col-md-3">
            <div class="desc border" (click)="getProductsDesc()">
              Azalan Fiyat
            </div>
          </div>
        </div>
        
        
        <div *ngFor="let product of productDetail" class=" card mt-3 ms-1 mb-5 bg-body rounded" style="width: 16rem">
          <app-product-card [products]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>