.ap{
    width: 55rem;
    margin-top: 1rem;
    border-radius: 7px;
    text-align: center;
}
.asc,.desc{
    width: 11rem;
    margin-top: 1rem;
    height: 1.8rem;
    margin-left: 5px;
    background-color: #e2e2e2;
    color: #484848;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.asc:hover {
    background-color: #bfbfbf;
    color: #fff;
}
.desc:hover {
    background-color: #bfbfbf;
    color: #fff;
}

#productName{
    color: #022548;
    cursor: pointer;
}
.price{
    font-weight: bold;
    font-size: 15px;
}
img{
    cursor: pointer;
}

.card-title {
    font-size: initial;
    text-align: -webkit-center;
    font-weight: bold;
}
.card{
    width: 16rem;
    float: left;
    margin-right: 20px;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.badge.highlight {
    margin-left: 5px;
    width: 85px;
    background-color: #f90909;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    font-weight: 700;
}
#cartBtn{
    background-color: #d1623d;
    color: #ffffff;
    padding: 10px;
    margin-top: 18px;
    margin-left: 15px;
 }
 .category{
    margin-left: 7rem;
 }
 