<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
    <div class="col-md-12 category">
      <app-category></app-category>
    </div>
    <div class="row">
      <div class="col-md-3 mt-3">
        <app-brand></app-brand>
        <div class="box mt-2">
          <h6 class="Prices">Fiyat Aralığı</h6>
          <div class="row mb-2">
            <div class="col-md-4">
              <input [(ngModel)]="minPrice" type="text" class="form-control mb-3" class="filterPrice" placeholder="En az" />
            </div>
            <div class="col-md-4">
              <input [(ngModel)]="maxPrice" type="text" class="form-control mb-3" class="filterPrice" placeholder="En çok" />
            </div>
            <div class="col-md-4">
              <button class="priceBtn" (click)="getProductDetailsByMinPriceAndMaxPrice(minPrice,maxPrice)"><i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
          <ul  class="ulPrice">
              <li (click)="getProductDetailsByMinPriceAndMaxPrice(100,200)" >100 - 200 TL</li><br>
              <li (click)="getProductDetailsByMinPriceAndMaxPrice(200,400)" >200 - 400 TL</li><br>
              <li (click)="getProductDetailsByMinPriceAndMaxPrice(400,600)" >400 - 600 TL</li><br>
              <li (click)="getProductDetailsByMinPriceAndMaxPrice(600,800)" >600 - 800 TL</li><br>
              <li (click)="getProductDetailsByMinPriceAndMaxPrice(800,1000)" >800 - 1000 TL</li>
          </ul>
          </div>
      </div>
      <div class="col-md-9 ap border">
        <div class="row">
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsDesc()">
                En Çok Satanlar
            </div>
          </div>
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsEvaluation()">
                Değerlendirme Sayısı
            </div>
          </div>
          <div class="col-md-3">
            <div class="asc border" (click)="getProductsAsc()">
                Artan Fiyat
            </div>
          </div>
          <div class="col-md-3">
            <div class="desc border" (click)="getProductsDesc()">
              Azalan Fiyat
            </div>
          </div>
        </div>
        <div *ngFor="let product of productDetail" class=" card mt-3 ms-1 mb-5 bg-body rounded" style="width: 16rem">
          <app-product-card [products]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>