<div class="container-fluid">
  <div class="row">
      <app-navbar></app-navbar>
      <div class="col-md-12 category">
        <app-category></app-category>
      </div>
        <div class="col-md-3 mt-3">
<app-brand></app-brand>
        </div>
        <div class="col-md-9 ">  
            <div  *ngFor="let product of productDetail" class=" card mt-3 ms-1    mb-5 bg-body rounded" style="width: 17rem;">
                <h5 routerLink="/product/detail/{{ product.productId }}" id="productName" class="card-title p-3 ">{{product.productName}}</h5>
                <img routerLink="/product/detail/{{ product.productId }}" [src]="product.images.length !== 0 ? imageBasePath+ product.images[0] : imageBasePath + defaultImg"
                class="card-img-top" alt="{{ product.code }} Image"style="width: 205px; margin-left: 38px; " />
                  <div class="card-body" >
                    <div class="row">
                      <div class="col-md-5">
                        <div class="row">
                          
                            <span class="badge highlight active" id="product-discount-rate" >
                              <span class="discount-amount">%<span>{{product.discountRate}}</span></span> indirim
                            </span>
                          
                            <p class=" discount">{{product.price}} TL</p>
                            
                            
                          </div>
                          <p class="price">{{product.price | discount:product.discountRate}} TL</p>
                        </div>
                      <div style="padding-top: 20px;" class="col-md-7">
                        <a id="cartBtn" (click)="addToCart(product)" class="btn">Sepete ekle</a>
                      </div>
                    </div>
                    <p class="card-text"></p>
                  </div>
                </div>
        </div>
    </div>
</div>