p  {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -.28px;


    font-size: 16px;
    color: #d1623d;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.32px;
    cursor: pointer;
}
#resetPasswordP{
    display: flex;
    align-items: center;
    height: 40px;
    text-align: left;
    margin-top: 12px;
}
.passwordText {
    display: block;
    margin: 4px 0 32px;
    line-height: 1.43;
    letter-spacing: -.15px;
    color: #646464;
}
input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #d1623d;
      border-radius: 8px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.32px;
      line-height: 1.5;
      outline: 0px;
      width: 100%;
      padding: 14px 56px 14px 14px;
      
      color: #d1623d;
      margin-bottom: 25px;
  }
  .btnSave {
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    padding: 8px;
    position: relative;
    text-decoration: none;
    background-color: #d1623d;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 40px;
    min-width: 100px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  .btnClose {
     
    -webkit-box-align: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    padding: 8px;
    position: relative;
    text-decoration: none;
    background-color: #685a55;
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 40px;
    min-width: 100px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }