<!-- Button trigger modal -->
<div id="resetPasswordP">
    <p type="button" class="btn _17OD2T5uhxYRT6atZy_yA7 hpa5gnmuOMPuH0E31USHp " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Şifremi unuttum
      </p>

</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Şifre yenileme</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span class="passwordText">Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize ihtiyacımız var.</span>
            <input formControlName="email" type="email" class="form-control" id="floatingInput" class="hb-AxiLy jjcQgX s78h1y5paci" placeholder="E-posta adresi">

        </div>
        <div class="modal-footer">
          <button type="button" class="btnClose me-2" data-bs-dismiss="modal">Kapat</button>
          <button type="button" class="btnSave">Devam et</button>
        </div>
      </div>
    </div>
  </div>