<div class="container">
    <div class="row">
 
        <div class="col-md-12 ">

          <div class="card-body">
            <form [formGroup]="createAddressForm">
                <div *ngIf="savedAddress.length>0" id="savedAddress"class="mb-3" >
                    <p-dropdown id="savedAddress" [style]="{'width':'510px'}" [disabled]=false (onChange)="setCardInfos()" formControlName="savedAddress" [options]="savedAddress" [(ngModel)]="selectedAddress" placeholder="Kayıtlı adresler" optionLabel="addressAbbreviation" [showClear]="true"></p-dropdown>
                  </div>
              <div class="mb-3">
                <label for="cityId">Şehir seç</label>
                <div class="col-sm-12">
                  <select class="form-control" formControlName="cityId">
                    <option value="" disabled selected hidden>Şehir seç</option>
                    <option *ngFor="let city of cities" placeholder="cityId" [ngValue]="city.id">{{city.name}}
                    </option>
                  </select>
                </div>
              </div>
             
              <div class="mb-3">
                <label for="address">Adres</label>
                <div class="form-group">
                  <input type="text" id="address" formControlName="addressDetail" class="form-control"
                    placeholder="Adres" />
                </div>
              </div>
  
            </form>
          </div>
          <div class="">
            <button  class="btn buy" (click)="buy()">Devam et</button>
          </div>
        </div>
      </div>
    </div>
  
